Package: tmux-cssh-gui
Version: 1.0.1-0
Section: main/misc
Priority: extra
Architecture: all
Depends: python, tmux-cssh
Installed-Size: 468
Maintainer: Dennis Hafemann <dennis.hafemann@gmail.com>
Homepage: https://github.com/dennishafemann/tmux-cssh-gui
Description: A simple, useful GUI on top of tmux-cssh.
